body    {
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 97, 210);
}

.outer  {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.controls   {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title  {
    font-size: 90px;
    text-align: center;
    text-shadow: 4px 3px rgb(36, 93, 17);
    color:rgb(16, 191, 133);
    background-color: rgb(22, 22, 102);
}

.container  {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 800px;
    min-height: 800px;
    max-width: 800px;
    max-height: 800px;
    box-shadow: -15px 15px 40px 15px rgb(174, 54, 54);
}

.column {
    background-color: rgb(241, 118, 118);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    background-color: white;
    box-shadow: inset 0 0 0 0.5px rgb(177, 177, 177);
}

/* .drawing    {
    background-color: black;
}

.drawing-trippy    {
    background-color: rgba(255, 255, 255, 0);
} */

button {
    border-radius: 20px;
    background-color: rgba(77, 241, 74, 0.662);
    padding: 20px;
    font-size: 20px;
    color:rgb(111, 37, 0);
    text-shadow: 1px 1px 15px rgb(128, 71, 227) ;
}